@page
@using Humanizer
@model EquipmentBookingSystem.Website.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Manufacturer
        </th>
        <th>
            Model
        </th>
        <th>
            Serial Number
        </th>
        <th>
            ProCloud Asset ID
        </th>
        <th>
            Call Sign
        </th>
        <th>
            ISSI
        </th>
        <th>
            All Identifiers
        </th>
        <th>
            Next Booking
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @(item.Identifiers.FirstOrDefault(x => x.Type == "Serial Number")?.Value ?? "")
            </td>
            <td>
                @(item.Identifiers.FirstOrDefault(x => x.Type == "ProCloud Asset ID")?.Value ?? "")
            </td>
            <td>
                @(item.Identifiers.FirstOrDefault(x => x.Type == "Call Sign")?.Value ?? "")
            </td>
            <td>
                @(item.Identifiers.FirstOrDefault(x => x.Type == "ISSI")?.Value ?? "")
            </td>
            <td>
                <ul>
                    @foreach (var identifier in item.Identifiers)
                    {
                        <li>@identifier.Type: @identifier.Value</li>
                    }
                </ul>
            </td>

            <td>
                @{
                    var futureBookings = item.Bookings
                        .Where(x => x.BookingStart > DateTime.Now)
                        .OrderBy(x => x.BookingStart)
                        .ToList();
                }
                @if (futureBookings.Any())
                {
                    var nextBooking = futureBookings.First();
                    var duration = nextBooking.BookingEnd - nextBooking.BookingStart;
                    <span>
                        <a asp-area="" asp-page="/Bookings/Details" asp-route-id="@nextBooking.Id">
                            @nextBooking.BookingStart.ToString("ddd dd/MM/yyyy") to @nextBooking.BookingEnd.ToString("ddd dd/MM/yyyy")
                        </a>
                        <br/>
                        <small>(approx. @duration.Humanize(2))</small>
                        <br/>
                        <small>for @nextBooking.BookedFor</small>
                    </span>

                }
                else
                {
                    <small>No upcoming bookings</small>
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
