@page "{id:guid}"
@model EquipmentBookingSystem.Website.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EventStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EventStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EventEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EventEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookedFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookedFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UpdatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
