@page "{id:guid}"
@model EquipmentBookingSystem.Website.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";

    var booking = Model.Booking;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr/>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.BookingStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.BookingStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.EventStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.EventStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.EventEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.EventEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.BookingEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.BookingEnd)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.BookedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.BookedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.BookedFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.BookedFor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.SjaEventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.SjaEventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.SjaEventDipsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.SjaEventDipsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.SjaEventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.SjaEventName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.Notes)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.CreatedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.UpdatedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.DeletedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => booking.RecordMetaData.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => booking.RecordMetaData.DeletedBy)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Booking.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>

</div>
