@page "{id:guid}"
@model EquipmentBookingSystem.Website.Pages_Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.Id" />
            <div class="form-group">
                <label asp-for="Booking.BookingStart" class="control-label"></label>
                <input asp-for="Booking.BookingStart" class="form-control" />
                <span asp-validation-for="Booking.BookingStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EventStart" class="control-label"></label>
                <input asp-for="Booking.EventStart" class="form-control" />
                <span asp-validation-for="Booking.EventStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EventEnd" class="control-label"></label>
                <input asp-for="Booking.EventEnd" class="form-control" />
                <span asp-validation-for="Booking.EventEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingEnd" class="control-label"></label>
                <input asp-for="Booking.BookingEnd" class="form-control" />
                <span asp-validation-for="Booking.BookingEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookedFor" class="control-label"></label>
                <input asp-for="Booking.BookedFor" class="form-control" />
                <span asp-validation-for="Booking.BookedFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Notes" class="control-label"></label>
                <input asp-for="Booking.Notes" class="form-control" />
                <span asp-validation-for="Booking.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Options" class="control-label"></label>
                @for (var i = 0; i < Model.Options.Count; i++)
                {
                    <div class="form-checkbox">
                        @Html.HiddenFor(x => Model.Options[i].Id)
                        @Html.HiddenFor(x => Model.Options[i].Display)
                        <input type="checkbox" asp-for="@Model.Options[i].IsChecked" />
                        <label asp-for="@Model.Options[i].IsChecked">@Model.Options[i].Display</label>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

