@page "{id:guid}"
@model EquipmentBookingSystem.Website.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr/>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="BookingId"/>

    <div class="row">
        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingStart" class="control-label"></label>
                <input asp-for="BookingStart" class="form-control"/>
                <span asp-validation-for="BookingStart" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EventStart" class="control-label"></label>
                <input asp-for="EventStart" class="form-control"/>
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label"></label>
                <input asp-for="EventEnd" class="form-control"/>
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="BookingEnd" class="control-label"></label>
                <input asp-for="BookingEnd" class="form-control"/>
                <span asp-validation-for="BookingEnd" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SjaEventType" class="control-label"></label>
                <input asp-for="SjaEventType" class="form-control"/>
                <span asp-validation-for="SjaEventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SjaEventDipsId" class="control-label"></label>
                <input asp-for="SjaEventDipsId" class="form-control"/>
                <span asp-validation-for="SjaEventDipsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SjaEventName" class="control-label"></label>
                <input asp-for="SjaEventName" class="form-control"/>
                <span asp-validation-for="SjaEventName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookedFor" class="control-label"></label>
                <input asp-for="BookedFor" class="form-control"/>
                <span asp-validation-for="BookedFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                @Html.TextAreaFor(x => x.Notes, new {@class = "form-control", @rows = 7})
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Options" class="control-label"></label>
                @for (var i = 0; i < Model.Options.Count; i++)
                {
                    <div class="form-checkbox">
                        @Html.HiddenFor(x => Model.Options[i].Id)
                        @Html.HiddenFor(x => Model.Options[i].Display)
                        <input type="checkbox" asp-for="@Model.Options[i].IsChecked"/>
                        <label asp-for="@Model.Options[i].IsChecked">@Model.Options[i].Display</label>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Details" asp-route-id="@Model.BookingId">Back to booking details</a> |
    <a asp-page="./Index">Back to List</a>
</div>
