@page
@model EquipmentBookingSystem.Website.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].BookingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EventStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EventEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].BookingEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].SjaEventDipsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].SjaEventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].BookedFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Notes)
            </th>
            <th>
                Equipment bookings
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].RecordMetaData.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].RecordMetaData.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Bookings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SjaEventDipsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SjaEventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                Total: @item.Items.Count()
                <br/>
                @{
                    var groups = item.Items.GroupBy(i => i.Manufacturer + " " + i.Model)
                        .Select(n => new
                        {
                            Name = n.Key,
                            Count = n.Count()
                        })
                        .OrderBy(n => n.Name);
                }
                <ul class="small text-secondary">
                    @foreach (var group in groups)
                    {
                        <li>@group.Name - @group.Count</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordMetaData.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordMetaData.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
